.home-container{
    background-image: linear-gradient(#e8ffe1, transparent);
    margin: 0 auto;
}

.home-banner {
    background-color: #d4fbc2;
    padding: 3% 0 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.home-banner h2 {
    font-weight: 600;
    font-size: 45px;
    color: rgb(85, 85, 85);
}
.home-banner img {
    max-width: 275px;
    border-radius: 200px;
    margin: 1% auto;
}
#get-started-btn {
    margin: 20px auto;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #ffb198;
    opacity: 80%;
}
#get-started-btn a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
#get-started-btn:hover {
    opacity: 100%;
    transition: 1s ease;
}

.description-item-container {
    justify-content: center;
    column-gap: 5%;
}
.home-description {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.home-description h3 {
    margin: 2%;
}
.home-description h4 {
    font-size: 20px;
}
.home-description img {
    max-width: 125px;
    border-radius: 70px;
    margin-bottom: 10px;
}