.search-container {
    display: flex;
    justify-content: center;
    background-color: #fecdbd;
    align-items: center;
}

.container-fluid {
    padding: 0
}
.filters {
    margin: 0 2%;
}
.filter {
    margin: 15px 5px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 80px;
    background-color: #D6FFC8;
    font-size: small;
    color: rgba(100, 98, 98, 0.796);
}
.filter:hover {
    background-color: #bfedb0;
    color: rgb(55, 54, 54);
}

.searchbar {
    justify-content: center;
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 3px;
}
.searchbar-btn {
    border: none;
    border-radius: 7px;
    margin: 0 10px;
    height: 30px;
    width: 70px;
    background-color: #bfedb0;
    color: rgba(100, 98, 98, 0.796);
}
.searchbar-btn:hover {
    color: rgb(55, 54, 54);
}


@media screen and (width < 760px) {
    .search-container {
        flex-direction: column;
    }
    .search-small-screen {
        margin: 1.5%
    }
}